<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/gh/langflow-ai/langflow-embedded-chat@1.0_alpha/dist/build/static/js/bundle.min.js"></script>

<langflow-chat
  window_title="Virtual Me (Rudrax RAG Bot)"
  flow_id="e41b3d64-a2f4-4907-aa87-9d14c4a178f4"
  host_url="http://localhost:7860"

></langflow-chat>
</body>
</html>